.snap-m-0 {
  scroll-margin: 0
}

.snap-m-1 {
  scroll-margin: 0.25rem
}

.snap-m-2 {
  scroll-margin: 0.5rem
}

.snap-m-3 {
  scroll-margin: 0.75rem
}

.snap-m-4 {
  scroll-margin: 1rem
}

.snap-m-5 {
  scroll-margin: 1.25rem
}

.snap-m-6 {
  scroll-margin: 1.5rem
}

.snap-m-8 {
  scroll-margin: 2rem
}

.snap-m-10 {
  scroll-margin: 2.5rem
}

.snap-m-12 {
  scroll-margin: 3rem
}

.snap-m-16 {
  scroll-margin: 4rem
}

.snap-m-20 {
  scroll-margin: 5rem
}

.snap-m-24 {
  scroll-margin: 6rem
}

.snap-m-32 {
  scroll-margin: 8rem
}

.snap-m-40 {
  scroll-margin: 10rem
}

.snap-m-48 {
  scroll-margin: 12rem
}

.snap-m-56 {
  scroll-margin: 14rem
}

.snap-m-64 {
  scroll-margin: 16rem
}

.snap-m-auto {
  scroll-margin: auto
}

.snap-m-px {
  scroll-margin: 1px
}

.-snap-m-1 {
  scroll-margin: -0.25rem
}

.-snap-m-2 {
  scroll-margin: -0.5rem
}

.-snap-m-3 {
  scroll-margin: -0.75rem
}

.-snap-m-4 {
  scroll-margin: -1rem
}

.-snap-m-5 {
  scroll-margin: -1.25rem
}

.-snap-m-6 {
  scroll-margin: -1.5rem
}

.-snap-m-8 {
  scroll-margin: -2rem
}

.-snap-m-10 {
  scroll-margin: -2.5rem
}

.-snap-m-12 {
  scroll-margin: -3rem
}

.-snap-m-16 {
  scroll-margin: -4rem
}

.-snap-m-20 {
  scroll-margin: -5rem
}

.-snap-m-24 {
  scroll-margin: -6rem
}

.-snap-m-32 {
  scroll-margin: -8rem
}

.-snap-m-40 {
  scroll-margin: -10rem
}

.-snap-m-48 {
  scroll-margin: -12rem
}

.-snap-m-56 {
  scroll-margin: -14rem
}

.-snap-m-64 {
  scroll-margin: -16rem
}

.-snap-m-px {
  scroll-margin: -1px
}

.snap-my-0 {
  scroll-margin-top: 0;
  scroll-margin-bottom: 0
}

.snap-mx-0 {
  scroll-margin-left: 0;
  scroll-margin-right: 0
}

.snap-my-1 {
  scroll-margin-top: 0.25rem;
  scroll-margin-bottom: 0.25rem
}

.snap-mx-1 {
  scroll-margin-left: 0.25rem;
  scroll-margin-right: 0.25rem
}

.snap-my-2 {
  scroll-margin-top: 0.5rem;
  scroll-margin-bottom: 0.5rem
}

.snap-mx-2 {
  scroll-margin-left: 0.5rem;
  scroll-margin-right: 0.5rem
}

.snap-my-3 {
  scroll-margin-top: 0.75rem;
  scroll-margin-bottom: 0.75rem
}

.snap-mx-3 {
  scroll-margin-left: 0.75rem;
  scroll-margin-right: 0.75rem
}

.snap-my-4 {
  scroll-margin-top: 1rem;
  scroll-margin-bottom: 1rem
}

.snap-mx-4 {
  scroll-margin-left: 1rem;
  scroll-margin-right: 1rem
}

.snap-my-5 {
  scroll-margin-top: 1.25rem;
  scroll-margin-bottom: 1.25rem
}

.snap-mx-5 {
  scroll-margin-left: 1.25rem;
  scroll-margin-right: 1.25rem
}

.snap-my-6 {
  scroll-margin-top: 1.5rem;
  scroll-margin-bottom: 1.5rem
}

.snap-mx-6 {
  scroll-margin-left: 1.5rem;
  scroll-margin-right: 1.5rem
}

.snap-my-8 {
  scroll-margin-top: 2rem;
  scroll-margin-bottom: 2rem
}

.snap-mx-8 {
  scroll-margin-left: 2rem;
  scroll-margin-right: 2rem
}

.snap-my-10 {
  scroll-margin-top: 2.5rem;
  scroll-margin-bottom: 2.5rem
}

.snap-mx-10 {
  scroll-margin-left: 2.5rem;
  scroll-margin-right: 2.5rem
}

.snap-my-12 {
  scroll-margin-top: 3rem;
  scroll-margin-bottom: 3rem
}

.snap-mx-12 {
  scroll-margin-left: 3rem;
  scroll-margin-right: 3rem
}

.snap-my-16 {
  scroll-margin-top: 4rem;
  scroll-margin-bottom: 4rem
}

.snap-mx-16 {
  scroll-margin-left: 4rem;
  scroll-margin-right: 4rem
}

.snap-my-20 {
  scroll-margin-top: 5rem;
  scroll-margin-bottom: 5rem
}

.snap-mx-20 {
  scroll-margin-left: 5rem;
  scroll-margin-right: 5rem
}

.snap-my-24 {
  scroll-margin-top: 6rem;
  scroll-margin-bottom: 6rem
}

.snap-mx-24 {
  scroll-margin-left: 6rem;
  scroll-margin-right: 6rem
}

.snap-my-32 {
  scroll-margin-top: 8rem;
  scroll-margin-bottom: 8rem
}

.snap-mx-32 {
  scroll-margin-left: 8rem;
  scroll-margin-right: 8rem
}

.snap-my-40 {
  scroll-margin-top: 10rem;
  scroll-margin-bottom: 10rem
}

.snap-mx-40 {
  scroll-margin-left: 10rem;
  scroll-margin-right: 10rem
}

.snap-my-48 {
  scroll-margin-top: 12rem;
  scroll-margin-bottom: 12rem
}

.snap-mx-48 {
  scroll-margin-left: 12rem;
  scroll-margin-right: 12rem
}

.snap-my-56 {
  scroll-margin-top: 14rem;
  scroll-margin-bottom: 14rem
}

.snap-mx-56 {
  scroll-margin-left: 14rem;
  scroll-margin-right: 14rem
}

.snap-my-64 {
  scroll-margin-top: 16rem;
  scroll-margin-bottom: 16rem
}

.snap-mx-64 {
  scroll-margin-left: 16rem;
  scroll-margin-right: 16rem
}

.snap-my-auto {
  scroll-margin-top: auto;
  scroll-margin-bottom: auto
}

.snap-mx-auto {
  scroll-margin-left: auto;
  scroll-margin-right: auto
}

.snap-my-px {
  scroll-margin-top: 1px;
  scroll-margin-bottom: 1px
}

.snap-mx-px {
  scroll-margin-left: 1px;
  scroll-margin-right: 1px
}

.-snap-my-1 {
  scroll-margin-top: -0.25rem;
  scroll-margin-bottom: -0.25rem
}

.-snap-mx-1 {
  scroll-margin-left: -0.25rem;
  scroll-margin-right: -0.25rem
}

.-snap-my-2 {
  scroll-margin-top: -0.5rem;
  scroll-margin-bottom: -0.5rem
}

.-snap-mx-2 {
  scroll-margin-left: -0.5rem;
  scroll-margin-right: -0.5rem
}

.-snap-my-3 {
  scroll-margin-top: -0.75rem;
  scroll-margin-bottom: -0.75rem
}

.-snap-mx-3 {
  scroll-margin-left: -0.75rem;
  scroll-margin-right: -0.75rem
}

.-snap-my-4 {
  scroll-margin-top: -1rem;
  scroll-margin-bottom: -1rem
}

.-snap-mx-4 {
  scroll-margin-left: -1rem;
  scroll-margin-right: -1rem
}

.-snap-my-5 {
  scroll-margin-top: -1.25rem;
  scroll-margin-bottom: -1.25rem
}

.-snap-mx-5 {
  scroll-margin-left: -1.25rem;
  scroll-margin-right: -1.25rem
}

.-snap-my-6 {
  scroll-margin-top: -1.5rem;
  scroll-margin-bottom: -1.5rem
}

.-snap-mx-6 {
  scroll-margin-left: -1.5rem;
  scroll-margin-right: -1.5rem
}

.-snap-my-8 {
  scroll-margin-top: -2rem;
  scroll-margin-bottom: -2rem
}

.-snap-mx-8 {
  scroll-margin-left: -2rem;
  scroll-margin-right: -2rem
}

.-snap-my-10 {
  scroll-margin-top: -2.5rem;
  scroll-margin-bottom: -2.5rem
}

.-snap-mx-10 {
  scroll-margin-left: -2.5rem;
  scroll-margin-right: -2.5rem
}

.-snap-my-12 {
  scroll-margin-top: -3rem;
  scroll-margin-bottom: -3rem
}

.-snap-mx-12 {
  scroll-margin-left: -3rem;
  scroll-margin-right: -3rem
}

.-snap-my-16 {
  scroll-margin-top: -4rem;
  scroll-margin-bottom: -4rem
}

.-snap-mx-16 {
  scroll-margin-left: -4rem;
  scroll-margin-right: -4rem
}

.-snap-my-20 {
  scroll-margin-top: -5rem;
  scroll-margin-bottom: -5rem
}

.-snap-mx-20 {
  scroll-margin-left: -5rem;
  scroll-margin-right: -5rem
}

.-snap-my-24 {
  scroll-margin-top: -6rem;
  scroll-margin-bottom: -6rem
}

.-snap-mx-24 {
  scroll-margin-left: -6rem;
  scroll-margin-right: -6rem
}

.-snap-my-32 {
  scroll-margin-top: -8rem;
  scroll-margin-bottom: -8rem
}

.-snap-mx-32 {
  scroll-margin-left: -8rem;
  scroll-margin-right: -8rem
}

.-snap-my-40 {
  scroll-margin-top: -10rem;
  scroll-margin-bottom: -10rem
}

.-snap-mx-40 {
  scroll-margin-left: -10rem;
  scroll-margin-right: -10rem
}

.-snap-my-48 {
  scroll-margin-top: -12rem;
  scroll-margin-bottom: -12rem
}

.-snap-mx-48 {
  scroll-margin-left: -12rem;
  scroll-margin-right: -12rem
}

.-snap-my-56 {
  scroll-margin-top: -14rem;
  scroll-margin-bottom: -14rem
}

.-snap-mx-56 {
  scroll-margin-left: -14rem;
  scroll-margin-right: -14rem
}

.-snap-my-64 {
  scroll-margin-top: -16rem;
  scroll-margin-bottom: -16rem
}

.-snap-mx-64 {
  scroll-margin-left: -16rem;
  scroll-margin-right: -16rem
}

.-snap-my-px {
  scroll-margin-top: -1px;
  scroll-margin-bottom: -1px
}

.-snap-mx-px {
  scroll-margin-left: -1px;
  scroll-margin-right: -1px
}

.snap-mt-0 {
  scroll-margin-top: 0
}

.snap-mr-0 {
  scroll-margin-right: 0
}

.snap-mb-0 {
  scroll-margin-bottom: 0
}

.snap-ml-0 {
  scroll-margin-left: 0
}

.snap-mt-1 {
  scroll-margin-top: 0.25rem
}

.snap-mr-1 {
  scroll-margin-right: 0.25rem
}

.snap-mb-1 {
  scroll-margin-bottom: 0.25rem
}

.snap-ml-1 {
  scroll-margin-left: 0.25rem
}

.snap-mt-2 {
  scroll-margin-top: 0.5rem
}

.snap-mr-2 {
  scroll-margin-right: 0.5rem
}

.snap-mb-2 {
  scroll-margin-bottom: 0.5rem
}

.snap-ml-2 {
  scroll-margin-left: 0.5rem
}

.snap-mt-3 {
  scroll-margin-top: 0.75rem
}

.snap-mr-3 {
  scroll-margin-right: 0.75rem
}

.snap-mb-3 {
  scroll-margin-bottom: 0.75rem
}

.snap-ml-3 {
  scroll-margin-left: 0.75rem
}

.snap-mt-4 {
  scroll-margin-top: 1rem
}

.snap-mr-4 {
  scroll-margin-right: 1rem
}

.snap-mb-4 {
  scroll-margin-bottom: 1rem
}

.snap-ml-4 {
  scroll-margin-left: 1rem
}

.snap-mt-5 {
  scroll-margin-top: 1.25rem
}

.snap-mr-5 {
  scroll-margin-right: 1.25rem
}

.snap-mb-5 {
  scroll-margin-bottom: 1.25rem
}

.snap-ml-5 {
  scroll-margin-left: 1.25rem
}

.snap-mt-6 {
  scroll-margin-top: 1.5rem
}

.snap-mr-6 {
  scroll-margin-right: 1.5rem
}

.snap-mb-6 {
  scroll-margin-bottom: 1.5rem
}

.snap-ml-6 {
  scroll-margin-left: 1.5rem
}

.snap-mt-8 {
  scroll-margin-top: 2rem
}

.snap-mr-8 {
  scroll-margin-right: 2rem
}

.snap-mb-8 {
  scroll-margin-bottom: 2rem
}

.snap-ml-8 {
  scroll-margin-left: 2rem
}

.snap-mt-10 {
  scroll-margin-top: 2.5rem
}

.snap-mr-10 {
  scroll-margin-right: 2.5rem
}

.snap-mb-10 {
  scroll-margin-bottom: 2.5rem
}

.snap-ml-10 {
  scroll-margin-left: 2.5rem
}

.snap-mt-12 {
  scroll-margin-top: 3rem
}

.snap-mr-12 {
  scroll-margin-right: 3rem
}

.snap-mb-12 {
  scroll-margin-bottom: 3rem
}

.snap-ml-12 {
  scroll-margin-left: 3rem
}

.snap-mt-16 {
  scroll-margin-top: 4rem
}

.snap-mr-16 {
  scroll-margin-right: 4rem
}

.snap-mb-16 {
  scroll-margin-bottom: 4rem
}

.snap-ml-16 {
  scroll-margin-left: 4rem
}

.snap-mt-20 {
  scroll-margin-top: 5rem
}

.snap-mr-20 {
  scroll-margin-right: 5rem
}

.snap-mb-20 {
  scroll-margin-bottom: 5rem
}

.snap-ml-20 {
  scroll-margin-left: 5rem
}

.snap-mt-24 {
  scroll-margin-top: 6rem
}

.snap-mr-24 {
  scroll-margin-right: 6rem
}

.snap-mb-24 {
  scroll-margin-bottom: 6rem
}

.snap-ml-24 {
  scroll-margin-left: 6rem
}

.snap-mt-32 {
  scroll-margin-top: 8rem
}

.snap-mr-32 {
  scroll-margin-right: 8rem
}

.snap-mb-32 {
  scroll-margin-bottom: 8rem
}

.snap-ml-32 {
  scroll-margin-left: 8rem
}

.snap-mt-40 {
  scroll-margin-top: 10rem
}

.snap-mr-40 {
  scroll-margin-right: 10rem
}

.snap-mb-40 {
  scroll-margin-bottom: 10rem
}

.snap-ml-40 {
  scroll-margin-left: 10rem
}

.snap-mt-48 {
  scroll-margin-top: 12rem
}

.snap-mr-48 {
  scroll-margin-right: 12rem
}

.snap-mb-48 {
  scroll-margin-bottom: 12rem
}

.snap-ml-48 {
  scroll-margin-left: 12rem
}

.snap-mt-56 {
  scroll-margin-top: 14rem
}

.snap-mr-56 {
  scroll-margin-right: 14rem
}

.snap-mb-56 {
  scroll-margin-bottom: 14rem
}

.snap-ml-56 {
  scroll-margin-left: 14rem
}

.snap-mt-64 {
  scroll-margin-top: 16rem
}

.snap-mr-64 {
  scroll-margin-right: 16rem
}

.snap-mb-64 {
  scroll-margin-bottom: 16rem
}

.snap-ml-64 {
  scroll-margin-left: 16rem
}

.snap-mt-auto {
  scroll-margin-top: auto
}

.snap-mr-auto {
  scroll-margin-right: auto
}

.snap-mb-auto {
  scroll-margin-bottom: auto
}

.snap-ml-auto {
  scroll-margin-left: auto
}

.snap-mt-px {
  scroll-margin-top: 1px
}

.snap-mr-px {
  scroll-margin-right: 1px
}

.snap-mb-px {
  scroll-margin-bottom: 1px
}

.snap-ml-px {
  scroll-margin-left: 1px
}

.-snap-mt-1 {
  scroll-margin-top: -0.25rem
}

.-snap-mr-1 {
  scroll-margin-right: -0.25rem
}

.-snap-mb-1 {
  scroll-margin-bottom: -0.25rem
}

.-snap-ml-1 {
  scroll-margin-left: -0.25rem
}

.-snap-mt-2 {
  scroll-margin-top: -0.5rem
}

.-snap-mr-2 {
  scroll-margin-right: -0.5rem
}

.-snap-mb-2 {
  scroll-margin-bottom: -0.5rem
}

.-snap-ml-2 {
  scroll-margin-left: -0.5rem
}

.-snap-mt-3 {
  scroll-margin-top: -0.75rem
}

.-snap-mr-3 {
  scroll-margin-right: -0.75rem
}

.-snap-mb-3 {
  scroll-margin-bottom: -0.75rem
}

.-snap-ml-3 {
  scroll-margin-left: -0.75rem
}

.-snap-mt-4 {
  scroll-margin-top: -1rem
}

.-snap-mr-4 {
  scroll-margin-right: -1rem
}

.-snap-mb-4 {
  scroll-margin-bottom: -1rem
}

.-snap-ml-4 {
  scroll-margin-left: -1rem
}

.-snap-mt-5 {
  scroll-margin-top: -1.25rem
}

.-snap-mr-5 {
  scroll-margin-right: -1.25rem
}

.-snap-mb-5 {
  scroll-margin-bottom: -1.25rem
}

.-snap-ml-5 {
  scroll-margin-left: -1.25rem
}

.-snap-mt-6 {
  scroll-margin-top: -1.5rem
}

.-snap-mr-6 {
  scroll-margin-right: -1.5rem
}

.-snap-mb-6 {
  scroll-margin-bottom: -1.5rem
}

.-snap-ml-6 {
  scroll-margin-left: -1.5rem
}

.-snap-mt-8 {
  scroll-margin-top: -2rem
}

.-snap-mr-8 {
  scroll-margin-right: -2rem
}

.-snap-mb-8 {
  scroll-margin-bottom: -2rem
}

.-snap-ml-8 {
  scroll-margin-left: -2rem
}

.-snap-mt-10 {
  scroll-margin-top: -2.5rem
}

.-snap-mr-10 {
  scroll-margin-right: -2.5rem
}

.-snap-mb-10 {
  scroll-margin-bottom: -2.5rem
}

.-snap-ml-10 {
  scroll-margin-left: -2.5rem
}

.-snap-mt-12 {
  scroll-margin-top: -3rem
}

.-snap-mr-12 {
  scroll-margin-right: -3rem
}

.-snap-mb-12 {
  scroll-margin-bottom: -3rem
}

.-snap-ml-12 {
  scroll-margin-left: -3rem
}

.-snap-mt-16 {
  scroll-margin-top: -4rem
}

.-snap-mr-16 {
  scroll-margin-right: -4rem
}

.-snap-mb-16 {
  scroll-margin-bottom: -4rem
}

.-snap-ml-16 {
  scroll-margin-left: -4rem
}

.-snap-mt-20 {
  scroll-margin-top: -5rem
}

.-snap-mr-20 {
  scroll-margin-right: -5rem
}

.-snap-mb-20 {
  scroll-margin-bottom: -5rem
}

.-snap-ml-20 {
  scroll-margin-left: -5rem
}

.-snap-mt-24 {
  scroll-margin-top: -6rem
}

.-snap-mr-24 {
  scroll-margin-right: -6rem
}

.-snap-mb-24 {
  scroll-margin-bottom: -6rem
}

.-snap-ml-24 {
  scroll-margin-left: -6rem
}

.-snap-mt-32 {
  scroll-margin-top: -8rem
}

.-snap-mr-32 {
  scroll-margin-right: -8rem
}

.-snap-mb-32 {
  scroll-margin-bottom: -8rem
}

.-snap-ml-32 {
  scroll-margin-left: -8rem
}

.-snap-mt-40 {
  scroll-margin-top: -10rem
}

.-snap-mr-40 {
  scroll-margin-right: -10rem
}

.-snap-mb-40 {
  scroll-margin-bottom: -10rem
}

.-snap-ml-40 {
  scroll-margin-left: -10rem
}

.-snap-mt-48 {
  scroll-margin-top: -12rem
}

.-snap-mr-48 {
  scroll-margin-right: -12rem
}

.-snap-mb-48 {
  scroll-margin-bottom: -12rem
}

.-snap-ml-48 {
  scroll-margin-left: -12rem
}

.-snap-mt-56 {
  scroll-margin-top: -14rem
}

.-snap-mr-56 {
  scroll-margin-right: -14rem
}

.-snap-mb-56 {
  scroll-margin-bottom: -14rem
}

.-snap-ml-56 {
  scroll-margin-left: -14rem
}

.-snap-mt-64 {
  scroll-margin-top: -16rem
}

.-snap-mr-64 {
  scroll-margin-right: -16rem
}

.-snap-mb-64 {
  scroll-margin-bottom: -16rem
}

.-snap-ml-64 {
  scroll-margin-left: -16rem
}

.-snap-mt-px {
  scroll-margin-top: -1px
}

.-snap-mr-px {
  scroll-margin-right: -1px
}

.-snap-mb-px {
  scroll-margin-bottom: -1px
}

.-snap-ml-px {
  scroll-margin-left: -1px
} 
